.body-h2{
    font-size: 30px; 
    color: #fff; 
    background-color: #159957; 
    background-image: linear-gradient(120deg, #3c92e8, #3ce892);
    background-image: linear-gradient(120deg, #155799, #159957);
}