$img-times: 25;

.img-row{
    display: flex;
    justify-content: center;
    img{
        width: 16px * $img-times;
        height: 9px * $img-times;
        margin: 0px 5px;
    }
   }


.img-unity{
    width: 100%;
    height: 100%;
    margin: 10px 0px;
}

.img-uouo{
    text-align: center;
    img{
        width: 50%;
        height: 50%;
        margin: 0px 5px;
    }
}